<h2> Linksgram</h2>



<ul>
  <% @links.each do |link| %>
      <li class="<%= cycle('odd','')%>">
        <div id='links'>
          votes:   <%= link.votes.where(:up => true).count  %>
          <%= link_to "↑", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
           <%= link_to link.title, link.url %>
        </div>
      </li>
  <% end %>
</ul>
<%= will_paginate @links %>

<%= link_to "add link", new_link_path %>