
<li class="<%= cycle('odd','')%>">
  <div id='links'>
    <div id='title'>
      <%= link_to link.title, link.url %> <span id='short_url'><%= short_url(link.url) %> </span>
    </div>
    <span id='points'>

      <%= time_ago_in_words link.created_at %>
      <% if (link.hnscore) > 200 %>
         | score : <span id= 'hn_score'> <%= link.hnscore %> </span>
      <% else %>
         | score : <span id= 'normal_score'><%= link.hnscore %>  </span>
      <% end %>

      <span id= 'hn_username'> <%= hn_user(link.hnuser) %> </span>
    </span>

  </div>
</li>
