
<li class="<%= cycle('odd','')%>">
  <div id='links'>
    <div id='title'>
      <span id='title_header'>
        <%= link_title(link) %>
        <span id='short_url'><%= short_url(link.url) %> </span>
      </span><!--title_header-->
    </div><!--title-->
    
    <span id='points'>
      <%= time_ago_in_words link.created_at %>
      <%= score(link) %>
      <span id= 'hn_username'> <%= hn_user(link.hnuser) %> </span>
    </span><!--points-->

  </div><!-- links -->
</li>
