
<li class="<%= cycle('odd','')%>">
  <div id='links'>
    <div id='title'>
      <%= link_to link.title, link.url %>
    </div>
    <span id='vote'>
      <%= link_to "↑", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post, remote: true %>
    </span>
    <span id='points'>
      <%= link.votes.where(:up => true).count %> points
      <%= time_ago_in_words link.created_at  %>
    </span>

  </div>
</li>

