
<li class="<%= cycle('odd','')%>">
  <div id='links'>
    <div id='title'>
      <%= link_to link.title, link.url %> 
      <span id='short_url'><%= short_url(link.url) %> </span>
    </div><!--title-->
    
    <span id='points'>
      <%= time_ago_in_words link.created_at %>
      <%= score(link) %> 
      <span id= 'hn_username'> <%= hn_user(link.hnuser) %> </span>
    </span><!--points-->

  </div><!-- links -->
</li>
