<!DOCTYPE html>
<html>
<head>
  <title>Top HN</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "orange2.png" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=  yield %>
</body>
</html>
